# Keycloak Configuration
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=master
VITE_KEYCLOAK_CLIENT_ID=request-client
VITE_ADMIN_ROLE=admin
VITE_ENVIRONMENT=development
VITE_GITHUB_URL=
VITE_WHATS_NEW_ENABLED=true

# API Configuration
VITE_API_BASE_URL=http://localhost:3000/api
